root{
--primarybrand-color-iris:#4D5AE5;
--pressedstate-color-ocean:#404BBF;
--dark-color-navy:#2E2F42;
--success-color-green:#31D0AA;
--text-color-slate:#434455;
--subtitletext-color-ligntslate:#8E8F99;
--accent-color-cornflower:#E7E9FC;
--light-color-cloud:#F4F4FD;
--modaloverlay-color-navybluemodal:#2E2F42;
--herobackground-color-gray:#2E2F42;
--whitebackground-color-wtite:#FFFFFF;
--modalbackground-color-modal:#FCFCFC;
}

body {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

 a {
    text-decoration: none;
    font-style: normal;
 }

 ul {
     list-style-type: none;
 }

 .header {
    background-color: var(--whitebackground-color-wtite, #FFFFFF);
}

 .header-logo {
    color: var(--primarybrand-color-iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
 }

 .header-span {
    color: var(--dark-color-navy, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

 .header-link, {
    color: var(--dark-color-navy, #2E2F42);
    font-weight: 500;
   }

.header-link:focus,
.header-link:hover {
    color: var(--pressedstate-color-ocean, #404BBF);
    font-weight: 500;
   }

.address-link:hover {

}
.mailto,
.tel {
    color: var(--text-color-slate, #434455);
}

 .main-title {
    background: var(--modaloverlay-color-navybluemodal, #2E2F42);
}

 .hero-title {
    color: var(--whitebackground-color-wtite, #FFF);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
 }

 .button{
    border-radius: 4px;
    background: var(--primarybrand-color-iris, #4D5AE5);
    color: var(--whitebackground-color-wtite, #FFFFFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    letter-spacing: 0.64px;
    cursor: pointer;
}

 .defenders {}

 .title-h2 {}

 .title-h3 {}

 .team {}

 .portfolio {}
 
 .footer {}